In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("hepatitis.csv")
df

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,61,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,105,200,4.0,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,46,1,2,2,1,1,1,2,1,2,1,1,1,7.6,105,242,3.3,50,2
138,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.9,126,142,4.3,61,2
139,2,61,1,1,2,1,1,2,1,2,2,1,2,2,0.8,75,20,4.1,61,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2
141,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.2,100,19,3.1,42,2

In [15]:
for col in df.columns:
    try:
        df[col] = pd.to_numeric(df[col])
    except:
        pass  # Keep original if conversion fails

In [16]:
male_df = df[df['sex'] == 1]   # Male
female_df = df[df['sex'] == 2] # Female

In [17]:
merged_df = pd.concat([male_df, female_df])
merged_df

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.50,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.00,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,200,4.00,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.00,75,1
5,1,51,1,1,2,1,2,1,2,2,1,1,2,2,1.42,105,85,3.81,61,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.90,58,1
84,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.40,41,2
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,3.81,61,2
116,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.10,100,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.10,48,2

In [18]:
sorted_df = df.sort_values(by=['age', 'sgot', 'protime'], ascending=True)
sorted_df

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
102,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.7,256,25,4.20,61,2
35,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.3,150,68,3.90,61,1
112,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.0,160,118,2.90,23,2
135,2,20,1,1,2,2,2,2,2,2,2,2,2,2,0.9,89,152,4.00,61,2
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.20,64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2,65,1,2,2,1,1,2,2,1,1,1,1,2,0.3,180,53,2.90,74,2
15,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.2,102,53,4.30,61,1
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.2,119,136,3.81,61,2
123,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.0,115,52,3.40,50,2
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.00,61,1

In [19]:
transposed_df = df.transpose()  # Transpose first 10 rows for readability
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
class,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
age,30.0,50.0,78.0,34.0,34.0,51.00,23.00,39.0,30.0,39.0,...,49.0,45.0,31.0,20.0,36.0,46.0,44.0,61.0,53.0,43.0
sex,2.0,1.0,1.0,1.0,1.0,1.00,1.00,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
steroid,1.0,1.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,1.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0
antivirals,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
fatigue,2.0,1.0,1.0,2.0,2.0,1.00,2.00,1.0,2.0,2.0,...,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
malaise,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0
anorexia,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
liver_big,1.0,1.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
liver_firm,2.0,2.0,2.0,2.0,2.0,2.00,2.00,1.0,2.0,1.0,...,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0
spleen_palable,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0
spiders,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0
ascites,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
varices,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0
bilirubin,1.0,0.9,0.7,1.0,0.9,1.42,1.00,0.7,1.0,1.3,...,1.4,1.9,1.2,0.9,0.6,7.6,0.9,0.8,1.5,1.2
alk_phosphate,85.0,135.0,96.0,105.0,95.0,105.00,105.00,105.0,105.0,78.0,...,85.0,105.0,75.0,89.0,120.0,105.0,126.0,75.0,81.0,100.0
sgot,18.0,42.0,32.0,200.0,28.0,85.00,85.00,48.0,120.0,30.0,...,70.0,114.0,173.0,152.0,30.0,242.0,142.0,20.0,19.0,19.0
albumin,4.0,3.5,4.0,4.0,4.0,3.81,3.81,4.4,3.9,4.4,...,3.5,2.4,4.2,4.0,4.0,3.3,4.3,4.1,4.1,3.1
protime,61.0,61.0,61.0,61.0,75.0,61.00,61.00,61.0,61.0,85.0,...,35.0,61.0,54.0,61.0,61.0,50.0,61.0,61.0,48.0,42.0
histology,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [20]:
melted_df = pd.melt(df, id_vars=['class', 'sex'], 
                    value_vars=['age', 'sgot', 'protime'],
                    var_name='Measurement', value_name='Value')
melted_df

     class  sex Measurement  Value
0        2    2         age     30
1        2    1         age     50
2        2    1         age     78
3        2    1         age     34
4        2    1         age     34
..     ...  ...         ...    ...
421      1    1     protime     50
422      2    1     protime     61
423      2    1     protime     61
424      2    2     protime     48
425      1    1     protime     42

[426 rows x 4 columns]

In [21]:
casted_df = melted_df.pivot_table(index=['class', 'sex'], 
                                  columns='Measurement', 
                                  values='Value', 
                                  aggfunc='mean').reset_index()
casted_df

Measurement  class  sex        age    protime       sgot
0                1    1  44.923077  50.576923  87.923077
1                2    1  39.910891  64.653465  82.574257
2                2    2  39.800000  61.133333  82.133333